<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main layout:fragment="content" class="container my-3">
    <form th:action="@{/user/login}" method="post">
        <!-- 로그인 실패 시 파라미터로 error 전달, 스프링 시큐리티 규칙 -->
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                사용자ID 또는 비밀번호를 확인해 주세요.
            </div>
        </div>
        <div th:if="${successMessage !=null}"} class="alert alert-success" th:text="${successMessage}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" name="username" id="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
    <a href="/user/pw_find" style="display:block; margin-top:15px;">
        <button class="btn btn-primary">비밀번호 찾기</button>
    </a>
    <a href="/oauth2/authorization/kakao" style="display:block; margin-top:15px;">
        <button class="btn btn-outline-primary">
            <i class="fa-regular fa-comments" style="color: #ffc800;padding-right: 3px;"></i>카카오 로그인하기</button>
    </a>
    <a href="/oauth2/authorization/google" style="display:block; margin-top:15px;">
        <button class="btn btn-outline-info">
            <i class="fa-brands fa-google" style="color: #ff0000; padding-right: 3px;"></i>구글 로그인하기
        </button>
    </a>
    <a href="/oauth2/authorization/naver" style="display:block; margin-top:15px;">
        <button class="btn btn-outline-success">
            <i class="fa-solid fa-n" style="color: #4fe345; padding-right: 3px;"></i>네이버 로그인하기</button>
    </a>
</main>
</html>