<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<main layout:fragment="content" class="container my-3 d-flex gap-5">
    <div style="margin-top:10%;">
        <ul class="list-group">
            <li class="list-group-item" aria-current="true" th:classappend="${boardName == 0} ? 'active'">
                <a th:href="@{/question/list/qna}">질문과답변</a>
            </li>
            <li class="list-group-item" th:classappend="${boardName == 1} ? 'active'">
                <a th:href="@{/question/list/free}">자유게시판</a>
            </li>
            <li class="list-group-item" th:classappend="${boardName == 2} ? 'active'">
                <a th:href="@{/question/list/bug}">버그및건의</a>
            </li>
        </ul>
    </div>
    <div class="flex-grow-1">
        <div class="row my-3">
            <h3 class="border-bottom py-2" th:if="${boardName == 0}">질문과답변</h3>
            <h3 class="border-bottom py-2" th:if="${boardName == 1}">자유게시판</h3>
            <h3 class="border-bottom py-2" th:if="${boardName == 2}">버그및건의</h3>
            <div class="col-6">
                <a onclick="createQuestion(event)" class="btn btn-primary"
                   th:if="${boardName == 0}">질문과답변 등록</a>
                <a onclick="createQuestion(event)" class="btn btn-primary"
                   th:if="${boardName == 1}">자유게시판 등록</a>
                <a onclick="createQuestion(event)" class="btn btn-primary"
                   th:if="${boardName == 2}">버그및건의 등록</a>
            </div>
            <div class="col-6">
                <form>
                    <div class="input-group">
                        <input type="text" name="kw" class="form-control" th:value="${param.kw}">
                        <button class="btn btn-outline-secondary" id="btn_search">찾기</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
            <tr class="text-center">
                <th>번호</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일시</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="question, loop : ${paging}">
                <td class="text-start">
                    <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                    <span class="text-danger small ms-2"
                          th:if="${#lists.size(question.answerList) > 0}"
                          th:text="${#lists.size(question.answerList)}">
                 </span>
                </td>
                <td>
                    <span th:if="${question.author != null}" }>
                     <span th:if="${#strings.length(question.author.username) <= 10}"
                           th:text="${question.author.username}"></span>
                    <span th:unless="${#strings.length(question.author.username) <= 10}"
                          th:text="${question.author.username.substring(0, 10)} + '...'"></span>
                        </span>
                </td>
                <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${question.view}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}" th:with="queryStrBase = '?kw=' + ${param.kw != null ? param.kw : ''}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${paging.number==0} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|${queryStrBase}&page=0|}">
                        <span>처음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|${queryStrBase}&page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|${queryStrBase}&page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|${queryStrBase}&page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${paging.number==(paging.totalPages-1)} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|${queryStrBase}&page=${paging.totalPages-1}|}">
                        <span>끝</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
    </div>
    <script th:inline="javascript">
        const createQuestion = (event) => {
            event.preventDefault(); // 호출된 이벤트의 기본 작동 방식 중단
            const createQuestionLink = event.target; // 사용자가 클릭한 요소
            const currentPath = window.location.pathname;
            const newPath = currentPath.replace('/question/list/', '/question/create/');
            createQuestionLink.setAttribute('href', newPath);  // 사용자가 클릭한 요소의 속성 설정
            window.location.href = newPath;
        }

        const showQuestionDetail = (questionId) => {
            const isVisited = checkIdInLocalStorage(questionId);

            if (!isVisited) {
                addIdToLocalStorage(questionId);
                $.ajax({
                    // 요청방식: get
                    type: "get",
                    url: "/question/detail",
                    data: {
                        "questionId": questionId,
                        "isVisited": false
                    },
                    success: function (fragment) {
                        // 성공 시 리다이렉트 url을 받으므로, 이동
                        location.href = fragment;
                    },
                    error: function (err) {
                        console.log("요청 실패", err);
                    }
                });
            } else {
                $.ajax({
                    type: "get",
                    url: "/question/detail",
                    data: {
                        "questionId": questionId,
                        "isVisited": true
                    },
                    success: function (fragment) {
                        // 성공 시 리다이렉트 url을 받으므로, 이동
                        location.href = fragment;
                    },
                    error: function (err) {
                        console.log("요청 실패", err);
                    }
                });
            }
        }
    </script>
</main>
</html>